APP_HOST=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_SSL_MODE=
DB_TIMEZONE=

SECRET_STRING=
SECRET_REFRESH_STRING=

REDIS_HOST=
REDIS_PASSWORD=
REDIS_DB=


EMAIL_FROM_DOMAIN=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
EMAIL_SMTP_USERNAME=
EMAIL_SMTP_PASSWORD=